<%= simple_form_for @sale, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :farmer_name %>
  <%= f.input :sale_date %>

  <%#= collection_select @sale, :market_type, @market_types, :value, :value %>
  
  <%= f.association :markettypes, :collection => MarketType.all(:order => 'value') %>
  <%= f.input :location %>
  <%= f.input :volume %>
  <%= f.input :unit %>
  <%= f.input :quality %> 
<%#=collection_select @sale, :commodity, @commodities, :value, :value %>
  <%= f.input :commodity %>
  <%= f.input :price_received %>
  <%= f.input :price_receiptUnit %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                sales_path, :class => 'btn' %>
  </div>
<% end %>
